QPushButton {
	min-height: 50px;
	min-width: 50px;
	border-style: ridge;
	border-color: #878787;
	border-width: 6px;
	border-radius: 12px;
	padding: 4;
}

QPushButton:checked {
	border-style: groove;
}

QPushButton:pressed {
	border-style: groove;
}
